@font-face{
    font-family: 'frick';
    src: url('./fonts/Frick0.3-Regular.otf')
}

body{
    height: 100vh;
    margin: 0;

}
#container{
height: 100%;    
display: grid;
/* background-color: pink; */
grid-template-columns: repeat(1, 1fr);
grid-template-rows: 70% 1fr;
/* grid-auto-rows: 1fr; */


}
.header{
    background-color: #3ff1f3;
    grid-area: 1/1/2/3;
    display: grid;
    /* align-items: center; */
    /* justify-content: center; */
    grid-template-rows: 100px 2fr 1fr ;
    grid-auto-rows: 1fr;
}
.middle{
    display: grid;
    justify-content: center;
}

#input{
    grid-area: 3/1/4/2;
    justify-content: center;
}
button{
    grid-area: 2/1/3/2;
    /* margin-top: 10%; */
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 5px solid white;
    box-sizing: content-box;
}
button:hover{
    transform: scale(1.1);
}

.lower{
    background-color: #f3ea72;
    /* display: grid; */

}
.tempDisplay{
    color: black;
    font-family: 'frick';
    font-size: 24px;
    text-align: center;
    margin-top: 10%;
}